.article-home {
    .home {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .image {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 500px;

                @media (max-width: 1380px) {
                    width: 420px;
                }
            }

        }

        .titles {
            color: #0F1E50;
            width: 50%;
            font-family: 'NotoSans-Regular', Helvetica;
            display: block;

            h1 {
                padding-left: 80px;
                font-style: normal;
                font-weight: 900;
                font-size: 60px;
                line-height: 60px;
                margin: 0;


                @media (max-width: 1380px) {
                    padding-left: 60px;
                    font-size: 46px;
                    line-height: 52px;
                }
            }

            h2 {
                font-weight: normal;
                padding-left: 80px;
                font-size: 22px;
                margin: 0;


                @media (max-width: 1380px) {
                    padding-left: 60px;
                    font-size: 20px;
                }
            }

        }
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



.article-features {
    display: block;

    .cont-title {
        width: 100%;
        position: relative;
        left: calc(35vw - 200px);

        h1 {
            font-size: 48px;

            .sliding-horizontal {
                font-size: 60px;
            }
        }
    }

    .feature-card {
        box-shadow: 0 6px 3px -2px rgb(21, 68, 178, 0.2);
        background-color: rgba(255, 255, 255, 0.5);
        border: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        max-width: 500px;
        padding: 10px;
        font-size: 14px;

        @media (max-width:1380px) {
            max-width: 400px;
            padding: 10px;
            font-size: 13px;
        }

        h2 {
            margin: 0;
            margin-bottom: -10px;
            font-weight: 900;
            font-size: 25px;

            @media (max-width:1380px) {
                font-size: 23px;
            }
        }

        ul {
            width: fit-content;
        }

        img {
            width: 110px;

            @media (max-width:1380px) {
                width: 90px;
            }
        }

        &.feature-card-1 {
            position: absolute;
            bottom: 45vh;
            left: 120px;

            @media (max-width:1380px) {
                left: 50px;
                bottom: 40vh;
            }
        }

        &.feature-card-2 {
            position: absolute;
            bottom: 35vh;
            right: 120px;

            @media (max-width:1380px) {
                right: 50px;
                bottom: 33vh;
            }
        }

        &.feature-card-3 {
            position: absolute;
            bottom: 15vh;
            left: 70px;

            @media (max-width:1380px) {
                left: 110px;
                bottom: 10vh;
            }

            ul {
                margin-top: -10px;
            }
        }

        &.feature-card-4 {
            position: absolute;
            bottom: 5vh;
            right: 140px;

            @media (max-width:1380px) {
                right: 110px;
                bottom: 5vh;
            }

            ul {
                margin-top: -10px;
            }
        }
    }
}

article.article-plans {

    h1 {
        position: relative;
        left: 150px;
        top: 100px;
        font-weight: 600;
        font-size: 52px;
        line-height: 36px;

        .word-bottom {
            margin-left: 150px;
            font-size: 60px;
            font-weight: 900;
            top: 120px;
            text-shadow: 1px 1px 2px #0F1E50;
        }
    }

    .plan-card {
        max-width: 360px;

        .plan-image {
            margin-bottom: -35px;
            display: flex;
            width: 100%;
            justify-content: center;

            img {
                width: 120px;
            }
        }

        .plan-subcard {
            margin: -10px auto;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 20px;
            width: 300px;
            border-radius: 40px;

            h2 {
                width: 100%;
                text-align: center;
            }

            .plan-description {
                font-size: 14px;

                width: 300px;
                margin: -20px auto auto;
                display: flex;
                justify-content: center;

                ul {
                    padding: 0;
                }
            }
        }

        &.plan-card-personal {
            position: absolute;
            right: 120px;
            top: 15vh;

            @media (max-width:1380px) {
                right: 110px;
                top: 10vh;
            }
        }

        &.plan-card-organizations {
            position: absolute;
            left: 140px;
            bottom: 25vh;

            @media (max-width:1380px) {
                left: 120px;
                bottom: 3vh;
            }
        }

        &.plan-card-business {
            position: absolute;
            right: 120px;
            bottom: 10vh;

            @media (max-width:1380px) {
                right: 110px;
                bottom: 3vh;
            }
        }

        .plan-btns {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: -20px auto 0;

            button {
                background-color: var(--primary-color-35);
                border-color: var(--primary-color-35);
                color: #fff;
                border-radius: 12px;
                font-size: 18px;
                font-weight: bold;
                width: 150px;
                padding: 6px 10px;

                &:hover {
                    background-color: var(--primary-color-85);
                    border-color: var(--primary-color-85);
                    color: #fff;
                }
            }

            .button-nocost {
                background-color: var(--primary-color-35);
                border-color: var(--primary-color-35);
                color: #fff;
                border-radius: 12px;
                font-size: 18px;
                font-weight: bold;
                width: 150px;
                padding: 6px 10px;
            }

        }
    }
}

.article-questions {

    h1 {
        font-size: 52px;
        text-shadow: 1px 1px 2px #0F1E50;
        margin-left: 100px;

        @media (max-width: 1380px) {
            font-size: 48px;
            margin-bottom: 20px;
        }

    }

    .questions {
        margin: 0 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14px;


        .question {
            height: 36px;
            font-size: 16px;
            font-weight: 600;
            background-color: rgb(200, 208, 227, .3);
            padding: 5px 10px;
            display: flex;
            align-items: center;

            @media (max-width: 1380px) {
                font-size: 15px;
            }

            &:hover {
                cursor: pointer;
            }

            span {
                width: 90%;
            }

            i {
                width: 25px;
            }

            &:nth-child(2n+1) {
                border-left: 2.5px solid var(--primary-color-35);
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                i {
                    margin-left: auto;
                }
            }

            &:nth-child(2n) {
                border-right: 2.5px solid var(--primary-color-35);
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;

                span {
                    margin-left: auto;
                }
            }
        }
    }
}

.article-last {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;

    @media (max-width: 1380px) {
        margin-top: 60px;
    }

    >div {
        width: 520px;
        height: 520px;

        @media (max-width: 1380px) {
            width: 475px;
            height: 520px;
        }

        @media (max-width: 1170px) {
            width: 475px;
            height: 450px;
        }

        .news {
            margin-top: -8px;

            .title {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25);
            }

            h2,
            h3,
            h4 {
                margin: 0;
                padding: 10px 16px 5px;
            }


            .slider-news {
                display: flex;
                justify-content: center;
                box-shadow: 0 4px 3px 0 #00000040;
                margin-top: -3px;

                h2 {
                    padding: 10px 16px 5px;
                }

                div {
                    max-width: 300px;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 10px;

                    p.date {
                        margin: 5px auto;

                        b {
                            color: rgba(225, 132, 22, 0.882)
                        }

                        color: rgba(225, 132, 22, 0.882) //background: linear-gradient(180deg, rgba(225, 132, 22, 0.882) 0%, rgba(182, 88, 20, 0.98) 100%);                         
                    }
                }
            }

            .subscribe {
                margin-top: -6px !important;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 0px 1px 3px 0px #00000040;

                .group-input {

                    display: flex;
                    justify-content: center;

                    input {
                        width: 70%;
                        padding: 10px;
                        border: none;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    button {
                        margin: 0 -5px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        padding: 10px;
                        font-weight: bold;
                        background-color: var(--primary-color);
                        border-color: var(--primary-color);
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border: none;
                        color: #e7e7e7;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }


            .triang-invert {
                margin: -2px auto 0;
                width: 0;
                border-right: calc(475px * 0.5) solid transparent;
                border-left: calc(475px * 0.5) solid transparent;
                border-top: 25px solid rgba(245, 248, 255, 0.9);
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 0;
            }

            div:not(.triang-invert) {
                padding: 12px;
                margin: 0;
                background-color: rgba(245, 248, 255, 0.9);
            }

        }

        .social {
            display: flex;
            background-color: rgba(245, 248, 255, 0.9);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            justify-content: space-between;
            flex: 1 1 auto;
            height: 100px;
            padding: 12px 16px;
            border-radius: 10px;

            .social-links {
                display: flex;
                align-items: end;
                gap: 12px;

                img {
                    width: 50px;
                }
            }

        }

    }

    .companies {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(245, 248, 255, 0.9);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .title {
            padding: 10px 16px;

            >div {
                margin-top: 0px;
                display: flex;
            }

            h2 {
                font-weight: normal;
                line-height: 0px;
            }
        }

        .companies-logos {
            display: flex;
            justify-content: center;
        }
    }
}