.first-screen {


    .container-slogan {
        width: 50vw;
        display: flex;
        justify-content: center;

        .slogan {
            font-family: 'NotoSans-Regular', Helvetica;
            font-weight: bolder;
            font-size: 55px !important;
            color: var(--primary-color-85);
            padding: 15rem 2.5rem 5rem;

        }
    }

  
}


.banner {
    margin: 0 auto;
    width: 85%;
    color: var(--primary-color-35);
    font-family: 'NotoSans-Regular', Helvetica;
    border-radius: 20px;
}

.banner-qualities {}

.qualities {
    display: block;

    div {
        width: fit-content;
        display: inline-flex;
        gap: 30px;
        align-items: center;
        padding: 20px 0;

        img {
            width: 130px;
            height: 125px;
        }

        p {
            max-width: 400px;
            padding-right: 10px;
        }
    }
}

.titles {
    color: #0F1E50; 
    width: 50%;
    font-family: 'NotoSans-Regular', Helvetica;

    .title-1 {
        padding-left: 80px;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
    }

    .subtitle-1 {
        padding-left: 130px;
        font-size: 22px;
    }
}

.pic-1 {
    width: 50%;
    text-align: center;
}