header {
    height: 80px;

    background: var(--primary-color-35);
    background: linear-gradient(90deg, var(--primary-color-35) 0%, var(--primary-color-100) 50%, var(--primary-color-35) 100%);
    // background: var(--primary-color-0);
    // background: linear-gradient(90deg, var(--primary-color-100) 0, var(--primary-color-35) 65%, var(--primary-color-0) 100%);

    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;


}


img#logo {
    width: 230px;
    position: fixed;
    top: 0;
    left: 45%;
    // transform: translate(-50%, 0);
}