section.main {
    min-height: calc(100vh);
    

    &>article {
        opacity: 0;
        display: none;
        transition: all 1.5s ease-in-out;

        &.show {
            opacity: 1;
        }
    }
}

section {
    max-height: calc(100vh);
    // border: 1pt rgb(200, 5, 5) solid;
    overflow: hidden;
    
    article {
        width: 100%;
    }


    min-height: 100vh;

    &.hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }

    &.show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    &.ai-center {
        display: grid;
        place-items: center;
        align-content: center;

    }

}