// Import lib
@import './lib/spacings.scss';
@import './lib/colors.scss';
@import './lib/fonts.scss';
@import './lib/display.scss';
// Import icons
@import 'remixicon/fonts/remixicon.css';
// Import animations
// @import './animations/animate-scroll.scss';
@import './animations/sliding.scss';
// This folder
@import './image-container.scss';
@import './header.scss';
@import './articles.scss';
@import './sections.scss';

body {
    margin: 0;
    padding: 0;
    background: var(--white-1);
    background: var(--white-radial-gradient-1);
    font-family: "NotoSans-Regular";
}



main {
    max-width: 1400px;
    margin: auto;
}

@media screen and (max-width: 1380px) {
    main {
        max-width: 1170px;
    }
}


body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--white-1); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-0);
    /* color of the scroll thumb */
    border-radius: 6px;
    /* roundness of the scroll thumb */
    border: 1pt solid var(--primary-color);
    /* creates padding around scroll thumb */
}