name: Despliegue

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v2

    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
        
    - name: Instalar dependencias
      run: npm ci
      
    - name: Compilar proyecto
      run: npm run build

    - name: Desplegar en GitHub Pages
      uses: JamesIves/github-pages-deploy-action@4.1.0
      with: 
        branch: main
        folder: build
